{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<h2>Create Task</h2>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="custom_form">
  <form method="post" action="{% url 'task:task_create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="id_photos">Photos:</label>
    <input type="file" name="photos" id="id_photos" multiple>
    <button type="submit">Create Task</button>
  </form>
</div>
<a href="{% url 'task:task_list' %}">Back to Task List</a>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
