{% extends 'base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<h2>Delete Task</h2>
<p>Are you sure you want to delete "{{ task.title }}"?</p>
<form method="post" action="{% url 'task:task_delete' pk=task.pk %}">
  {% csrf_token %}
  <button type="submit">Delete</button>
  <a href="{% url 'task:task_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
